/*
 * Common
 **/
.wrap {
  max-width: 1000px;
  padding: 0.75em 3.4166666666667em;
  margin: 0 auto;
}

.App {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.Header {
  background-color: #222;
  padding: 1rem 3rem;
  color: white;
}
.Header-title {
  font-size: 2.25rem;
  margin-bottom: 0;
  color: #f5f5f5;
}
.Header-description {
  margin-top: 0;
  color: #a5a5a5;
}

.Globnav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.Globnav-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Globnav-row a {
  display: block;
  padding: 1em 1.25em;
  text-decoration: none;
  color: #222;
  transition: background-color 0.2s, color 0.2s;
}
.Globnav-row a:hover {
  background-color: #f5f5f5;
  color: #767676;
}

.App-intro {
  font-size: large;
}
