*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  color: #404040;
  font-size: 16px;
  font-weight: normal;
}

dfn, cite, em, i, blockquote {
  font-style: normal;
  text-decoration: none;
}

em, i {
  background: #e7e5e1;
}
pre {
  font-size: 1em;
  line-height: 1em;
}
body {
  font-family: "Open Sans", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  line-height: 1;
  margin: 24px 0;
}
h1 {
  color: #222;
  font-size: 28px;
}

h2 {
  color: #222;
  font-size: 24px;
  font-weight: normal;
}

h3 {
  color: #222;
  font-size: 20px;
  font-weight: normal;
}

h4 {
  color: #222;
  font-size: 16px;
}

h5 {
  color: #222;
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

hr {
  background-color: #5c544b;
}

blockquote {
  color: #9a9283;
  border-left: 5px solid rgba(154, 146, 131, 0.25);
  font-size: 16px;
  font-weight: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #5c544b;
  color: #d4d4cc;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #222;
}

textarea {
  background: #d4d4cc;
  border: 1px solid #d4d4cc;
}

address {
  font-style: normal;
  margin-bottom: 24px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code, kbd, tt, var {
  font-size: 0.9em;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

abbr, acronym {
  border-bottom: 1px dotted #9a9283;
}

td, th {
  border-bottom: 1px solid rgba(154, 146, 131, 0.25);
}

.wrap {
 max-width: 1000px;
 padding: 0.75em 3.4166666666667em;
 margin: 0 auto;
}
@media only screen and (max-width: 648px) {
  .wrap {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.table-wrap {
  max-width: 680px;
  overflow: auto;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) 0 0/20px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) right/20px 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-right: 1px solid #CCC;
}

.table-wrap table {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white 15px) 0 0/50px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), white 15px) right/50px 100%;
  background-repeat: no-repeat;
  background-attachment: local;
}

.table-wrap th {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  white-space: nowrap;

}
.table-wrap td {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
}

table {
  border-bottom: 1px solid #CCC;
  border-collapse: collapse;
}

th {
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
}

td {
  padding: 10px;
  white-space: nowrap;
}
