.ArchiveItem {
  text-decoration: none;
  display: block;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #222;
}
@media only screen and (max-width: 648px) {
  .ArchiveItem {
    padding: 10px;
  }
}
.ArchiveItem:hover {
  background-color: #f5f5f5;
}
.ArchiveItem div {
  word-break: break-word;
}
